certifi
chardet
click
clickclick
connexion
connexion[swagger-ui]
connexion[flask]
Flask
Werkzeug
Flask-Cors
flask-jsontools
Flask-Redis
Flask-SQLAlchemy
flask_babel
flask_excel
idna
inflection
itsdangerous
jsonschema
MarkupSafe
#mysqlclient
pathlib
PyJWT
pymssql
pymysql
python-consul
PyYAML
redis
requests
setuptools
six
SQLAlchemy
swagger-spec-validator
typing
urllib3
wheel
mwutils
mwauth
mwsdk
mwpermission
gunicorn
uvicorn[standard]
pillow
